body {
    background-color: chocolate;
    margin: 0%;
}

#header {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10% 0 8% 0;
}

#header #date {
    word-spacing: 0.2vw;
    letter-spacing: 0.3vw;
    font-size: calc(2.25vw + 6px);
}

#header #time {
    letter-spacing: 0.4vw;
    font-size: calc(6vw + 16px);
}

@media screen and (max-width: 799.99px) {
    .content {
        background-color: chocolate;
        display: flex;
        padding: 3%;
        font-family:Arial, Helvetica, sans-serif;
        flex-direction: column;
    }
    .schedule-box {
        display: flex;
        flex-direction: column; 
    }
    .schedule-header {
        border: 3px solid black;
        background-color: burlywood;
        border-radius: 5px;
        padding: 9px;
        margin: 1% 0;
        display: flex;
        align-items: center;
    }
    .overview-legend-label {
        font-size: calc(2vw + 4px)
    }
}
@media screen and (min-width: 800px) {
    .content {
        background-color: chocolate;
        display: flex;
        padding: 3%;
        font-family:Arial, Helvetica, sans-serif;
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
    }
    .schedule-box {
        margin: 1%;
        display: flex;
        flex-direction: column; 
        flex: 0 1 30%;
    }
    .schedule-header {
        border: 3px solid black;
        background-color: burlywood;
        border-radius: 5px;
        padding: 9px;
        margin: 1% 0;
        display: flex;
        flex: 0;
        align-items: center;
    }
    .overview-legend-label {
        font-size: calc(0.6vw + 4px)
    }
}

    .schedule-owner {
        flex: 1 1 90%;
        justify-self: left;
        min-width: 0;
        overflow: hidden;
        font-size: calc(1vw + 24px);
        padding-left: 3px; 
    }
    /* .schedule-owner-status { // retired feature for in-class/vacant
        flex: 1 1 40%;
        text-align: center;
        border: 1px dashed black;
    } */
    .schedule-subject-code-active {
        flex: 1 1 35%;
        text-align: center;
    }
    .schedule-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        flex: 1 1 25%;
        font-size: 36px;
        padding: 0;
        transition: transform 0.4s ease;
    }
    .schedule-toggle-button {
        background-color: #fc0303;
        border: 2px solid black;
        height: 0;
        width: 20px;
        padding-bottom: 20px;
        border-radius: 100%;
    }

    .schedule-upcoming {
        display: none;
        flex-direction: column;
        justify-items: center;
        align-items: stretch;
        margin-bottom: 1%;
        border: 3px solid black;
        border-radius: 5px;
        background-color:antiquewhite;
        flex: 0;
    }
    .upcoming-separator {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .upcoming-line-one {
        flex: 1 1 10%;
        padding: 0.5px;
        background-color: black;
    }
    .upcoming-line-day {
        flex: 1 1 20%;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bolder;
    }
    .upcoming-line-two {
        flex: 1 1 70%;
        padding: 0.5px;
        background-color: black;
    }
    .schedule {
        display: flex;
        align-items: center;
        padding: 2px 0;
    }
    .schedule-time {
        display: flex;
        flex-direction: column;
        align-items: end;
        flex: 0 0 100px;
        font-weight: bolder;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    .schedule-separator {
        height: 25px;
        padding: 2px;
        margin: 5px;
        background-color: black;
        border-radius: 5px;
    }
    .schedule-subject {
        display: flex;
        flex-direction: column;
    }
    .schedule-subject-code {
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .overview {
        display: none;
        margin-bottom: 1%;
        border: 3px solid black;
        border-radius: 10px;
        background-color:antiquewhite;
        flex: 0;
        padding: 10px 10px 10px 0;
    }
    .overview-schedule {
        display: grid;
        grid-template-columns: 1.2fr repeat(6, 1fr);
        flex: 0;
    }
    .overview-schedule-headers {
        display: grid;
        grid-template-columns: 1.2fr repeat(6, 1fr);
        grid-column: 1 / 8;
        text-align: center;
        font-weight: bold;
    }
    .overview-schedule-times {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1;
        text-align: center;
        font-weight: bold;
    }
    .overview-schedule-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column: 2 / 8;
        grid-row: 2;
    }
    .overview-schedule-content > div {
        display: grid;
        grid-template-columns: 1fr;
    }
    .overview-schedule-content > div > div {
        height: 100%;
        position: relative;
        border: 1px solid black;
    }
    .overview-schedule-content > div > div > svg {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .overview-legend {
        display: flex;
        padding: 2% 5%;
        justify-content: center;
        flex-flow: wrap;
    }
    .overview-legend > div {
        display: flex;
        justify-items: center;
        align-items: center;
        flex: 0 1 30%;
    }
    .overview-legend-color {
        height: 0;
        width: 15%;
        padding-bottom: 15%;
        border-radius: 100%;
        margin: 5%;
    }
    .overview-legend-label {
        overflow: hidden;
    }


    .example {
        background-image: url("C:\Users\Joseph\Downloads\mcl logo.png") repeat;
    }
